link(rel='stylesheet', href='style.css')


p Forgot pasword
	form(action="/reset" method="post")
		input(type="text" name="email")
		input(type="submit" value="Continue") 


br
span(style='color:red') #{resetFailMsg}
br
span(style='color:blue') #{resetMsg}



