link(rel='stylesheet', href='style.css')

p Login form

	form(name="login-page" action="/login" method="post")
		input(type="text" name="email" placeholder="Email Id" required="required")
		input(type="password" name="password" placeholder="password" required="required")
		input(type="submit"  value="Log In")

br
a(href='/forgot-password') Forgot Password
br
a(href='/signup') Sign Up
br
span(style='color:red') #{logFailMessage}


