
p form(name="reset-page" action="/reset" method="post")
		input(type="password" name="password" placeholder="password" required="required")
		input(type="password" name="confirm" placeholder=" confirm password" required="required")
		input(type="submit"  value="Update Password")


br
span(style='color:red') #{resetFailMessage}