
p SignUp Form

	form(name="signup-page" action="/signup" method="post")
		p label First Name
		input(type="text" name="firstName" placeholder="First name")
		p label Last Name
		input(type="text" name="lastName" placeholder="Last name")
		p label Phone No.
		input(type="text" name="phone" placeholder="Phone number")
		p label Email
		input(type="email" name="email" placeholder="email-id")
		p label Password
		input(type="password" name="pass" placeholder="password")
		p
		input(type="submit"  value="Sign-Up") Sign Up


